.bodyImg{
    width: 750px;
    height: auto;
    
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
}

footer{
    text-align: center;
    background-color: #2A2A3C;
    color: white;
    padding: 10px 0;
}

.main-container {
    display: flex;
    flex-direction: column; 
    min-height: 100%; 
}

.content {
    flex: 1; 
}

.logo {
    max-width: 100px;
    height: auto; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 15px; 
    padding: 10px 0;
}


section {
    flex: 1; 
}
 
h1 {
    text-align: center;
    font-size: 52px;
    color: #0A2F62;
}
.navbar {
    border-top: 1px solid #333; /* Bordure en haut */
    border-bottom: 1px solid #333; /* Bordure en bas */
}
.nav-link {
    color: #7d3939;
    text-decoration: none; /* Retire le soulignement */
    transition: all 0.3s ease;
}
.nav-link:hover{
    color: #0A2F62;
    box-shadow: inset 0 4px 0 #0A2F62;
    

}

.organe:hover{
    filter: brightness(50%);
}

#image{
    display: none;
    width: 300px;
    height: auto;
}

.BlocContenu{
    display:flex;
}

.vignette{
    text-align: justify;
    border: 1px solid black;
}